@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    background-color: #111319;
    color: #a9afc3;
}
.navbar {
    background-color: #111319;
    box-shadow: 0 0 10px rgb(255 255 255 / 8%);
}
.navbar .navbar-brand{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-toggler:focus {
    box-shadow: none;
}
.navbar .nav-item .nav-link {
    color: #a9afc3;
}
.color-red {
    color: #d6002f;
}
.navbar .nav-item .active {
    color: #d6002f;
}
.navbar .nav-item a:hover {
    color: #d6002f;
}
.profile {
    color: #fff;
    position: relative;
}
.profile h1 {
    color: #d6002f;
}
.custom-text-size-1 {
    font-size: 45px;
}
.custom-text-size-2 {
    font-size: 40px;
}
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
.profile img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 4px solid #d6002f;
}
.btn-outline-white-red {
    border: 2px solid #fff;
    padding: 8px 12px;
    --bs-btn-color: #fff;
    --bs-btn-hover-color: #d6002f;
    --bs-btn-hover-border-color: #d6002f;
    --bs-btn-active-bg: none;
}
.social .nav .nav-item .nav-link {
    color: #fff;
    border: 2px solid #d6002f;
    margin:5px;
    margin-bottom: 10px;
    border-radius: 26%;
}
.social .nav .nav-item .nav-link:hover {
    color: #d6002f;
    border-color: #fff;
}
.about {
    background-color: #191c26;
    color: #a9afc3;
    font-weight: 700;
    position: relative;
}
.about p, .about h2 {
    font-weight: normal;
    color: #fff;
}
.about p {
    font-size: 20px;
}
.about img {
    max-width: 400px;
    max-height: 500px;
    border-radius: 10px;
}
.about h2 {
    font-size: 25px;
}
#skills h1{
    color: #fff;
}
#skills .progress {
    background-color: #191c26;
    margin-bottom: 30px;
}
#skills .progress-bar {
    background-color: #d6002f;
}
#skills h1{
    color: #a9afc3;
}
#skills p {
    color: #fff;
    font-size: 18px;
    
}
#portfolio {
    background-color: #191c26;
}
#portfolio img{
    display: block;
	min-height: 250px;
    border: 1px solid #a9afc3;
    opacity: 0.9;
}

#portfolio a {
    position: relative;
}
#portfolio .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #d6002f;
}
#portfolio a:hover .overlay {
    opacity: 0.6;
}
.about-prot {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
}
.about-prot .info {
    border: 2px solid #fff;
    color: #fff;
    padding: 10px;
}
.about-prot .info p {
    font-size: 14px;
    font-weight: normal;
}

#contact h5 {
    color: #fff;
}
#contact i {
    color: #d6002f;
}
input, textarea {
    width: 100%;
    height: 50px;
    border: none;
    border-bottom: 1px solid rgba(255,255,255,.3);
    background-color: transparent;
    font-size: 18px;
    color: #a9afc3;
}
input:focus, textarea:focus {
    outline: none;
    background-color: transparent;
    border-bottom-color: rgba(255,255,255,.5);
}
footer {
    background-color: #191c26;
    color: #d6002f;
}


@media screen and (max-width: 767px) {
    .vertical-center {
        position: static;
        transform: none;
        text-align: center;
        margin-top: 30px;
      }
      .vertical-center h1, .vertical-center h2{
        font-size: 30px;
      }
      .social {
        width: 248px;
        margin: 0 auto;
    }
    .about h1 {
        font-size: 30px;
        margin-bottom: 40px;
    }
    #skills h1 {
        font-size: 30px;
    }
  }



@media screen and (max-width: 991px) {
    .navbar .nav-item .nav-link {
        color: #fff;
    }
  }